.highlights .m-icon {
    font-size: 3.2rem;
}

.highlight-list {
    display: grid;
    gap: 20px;
}

.highlight-card :is(.wrapper, .card-list) {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.highlight-list .title-3 {
    color: var(--on-surface-variant);
    padding-bottom: 10px;
}

.highlight-card .wrapper .m-icon {
    color: #b3b4b4;
}

.highlight-card .card-list {
    flex-wrap: wrap;
    flex-grow: 1;
    row-gap: 1em;
}

.highlight-card .card-item {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    padding: 10px 0;
    margin-top: 10px;
}

.highlight-card .sunrise .card-item img {
    width: 3.5em;
}

/* 2 cards */
.highlight-card.two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1em;
    gap: 1em;
}


/* Air Quality Index */
.aqi-content {
    display: flex;
    align-items: center;
    margin: 20px auto;
    gap: 1em;
    justify-content: space-between;
}

.aqi .card-item {
    border-radius: 10px;
    padding: 1em 10px;
    font-size: 1.5em;
    font-weight: 600;
}

.aqi .card-item .title-3 {
    font-size: 16px;
}

.aqi-message {
    color: #999999;
}

.aqi-content .aqi-1 span,
.title-3.aqi-1,
.card-item.aqi-1 .title-3 {
    color: var(--aqi-1-text);
}

.card-item.aqi-1 {
    background-color: var(--aqi-1);
    color: var(--aqi-1-text);
}

.aqi-content .aqi-2 span,
.title-3.aqi-2,
.card-item.aqi-2 .title-3 {
    color: var(--aqi-2-text);
}

.card-item.aqi-2 {
    background-color: var(--aqi-2);
    color: var(--aqi-2-text);
}

.aqi-content .aqi-3 span,
.title-3.aqi-3,
.card-item.aqi-3 .title-3 {
    color: var(--aqi-3-text);
}

.card-item.aqi-3 {
    background-color: var(--aqi-3);
    color: var(--aqi-3-text);
}

.aqi-content .aqi-4 span,
.title-3.aqi-4,
.card-item.aqi-4 .title-3 {
    color: var(--aqi-4-text);
}

.card-item.aqi-4 {
    background-color: var(--aqi-4);
    color: var(--aqi-4-text);
}

.aqi-content .aqi-5 span,
.title-3.aqi-5,
.card-item.aqi-5 .title-3 {
    color: var(--aqi-5-text);
}

.card-item.aqi-5 {
    background-color: var(--aqi-5);
    color: var(--aqi-5-text);
}


