.container {
    max-width: 1700px !important;
    width: 100%;
    margin-inline: auto;
    padding: 1em;
}

.icon-btn {
    background-color: var(--white-alpha-8);
    width: 3em;
    height: 3em;
    display: grid;
    place-items: center;
    border-radius: var(--radius-28);
}

.has-state {
    position: relative;
}

.has-state:hover {
    box-shadow: var(--shadow-1);
}

.has-state::is(:focus, :focus-visible) {
    box-shadow: none;
}

.has-state::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: inherit;
    clip-path: circle(100% at 50% 50%);
    transition: var(--transition-short);
}

.has-state:hover::before {
    background-color: #0000001f;
}

.has-state::is(:focus, :focus-visible)::before {
    background-color: var(--white-alpha-8);
    animation: ripple 2.5s ease forwards;
}



.btn-primary {
    background-color: var(--primary);
    height: 48px;
    line-height: 48px;
    max-width: max-content;
    display: flex;
    align-items: center;
    gap: 1em;
    padding-inline: 1em;
    border-radius: var(--radius-pill);
    transition: all 0.2s ease-in;
}

.btn-primary .span {
    font-weight: var(--weight-semiBold);
}

.btn-primary[disabled] {
    background-color: var(--outline);
    color: var(--text-variant);
    cursor: not-allowed;
}

.btn-primary[disabled]::before {
    display: none;
}

header {
    position: relative;
    z-index: 999999;
}

header .btn-primary .btn-location {
    display: none;
}

.logo img {
    width: 150px;
}

header .container,
.header-actions {
    display: flex;
    align-items: center;
}

header .container {
    justify-content: space-between;
}

.header-actions {
    gap: 1em;
}

header .btn-primary {
    padding-inline: 10px;
}

.search-view {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    height: 100svh;
    color: var(--text);
    clip-path: circle(4% at calc(100% - 102px) 5%);
    opacity: 0;
    visibility: hidden;
    z-index: 4;
    transition: clip-path 500ms ease;
}

.search-view.active {
    opacity: 1;
    visibility: visible;
    clip-path: circle(130% at 73% 5%);
    background-color: #f5f5f5;
}

.search-wrapper {
    position: relative;
    border-block-end: 1px solid var(--outline);
}

.search-wrapper::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1em;
    width: 2em;
    height: 2em;
    border: 3px solid var(--text);
    border-block-start-color: transparent;
    border-radius: var(--radius-circle);
    animation: loading .5s linear infinite;
    display: none;
}



.search-wrapper:has(.searching)::before {
    display: block;
}

input.search-field {
    width: 100%;
    height: 4em;
    line-height: 4em;
    padding-inline: 4em 1em;
    outline: none;
    box-shadow: var(--shadow-1);
}

input.search-field::placeholder {
    color: var(--text);
}

input.search-field::-webkit-search-cancel-button {
    display: none;
}

.search-wrapper .leading-icon {
    position: absolute;
    top: 50%;
    left: 1.4em;
    transform: translate(-50%, -50%);
}

.search-wrapper>.m-icon {
    display: none;
}

.search-wrapper .icon-btn {
    background-color: transparent;
    box-shadow: none;
}

.search-view .view-list {
    padding-block: 8px 16px;
}

.search-view .view-item {
    position: relative;
    height: 4.2em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    padding-inline: 1em 24px;
}

.item-title {
    line-height: 25px;
    font-weight: var(--weight-semiBold);
}

.search-view .view-item :is(.m-icon, .item-subtitle) {
    color: var(--text-variant);
}

.search-view .view-item .item-link {
    position: absolute;
    inset: 0;
    box-shadow: none;
}